<%- include ('./includes/head.ejs') %>
<%- include ('./includes/nav.ejs') %>
<div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">Approval Matrix</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Nullam porttitor est rhoncus ante imperdiet, quis facilisis eros sollicitudin. Donec interdum lorem ac aliquam maximus. Phasellus velit nulla, porta et mauris vitae, tempus tempus odio. Maecenas cursus turpis in augue mattis tempor. Sed aliquam malesuada enim, eu convallis neque viverra vel. Pellentesque condimentum augue arcu, quis egestas nulla ornare eget. Ut ac tellus vitae quam vulputate fermentum vel et tortor. Pellentesque viverra augue eu velit ullamcorper venenatis.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Signup</button>
      </div>
    </div>
  </div>
  
  
<%- include ('./includes/foot.ejs') %>
    



